<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New message has come in from vacay.com:</h1>
    <p>Message from <%= @name %>. Email: <%= @email %></p>
    <p>
      <%= @message %>
    </p>
   
  </body>
</html>