/* global Vue */
/* global $ */

function reply(id, username) {
  var replybox = document.getElementById('comment_message');
  replybox.value += "<a href = '#comment-" + id + "'>" + "@" + username + ":" + "</a>" + "<br>";
  var top = document.getElementById('add-new-comment').offsetTop;
  window.scrollTo(0, top);                        
}

function displayImages() {
  var show = document.getElementById('more_images');
  show.classList.toggle('hide_more_images');
}

function clicked() {
  var button = document.getElementById('likebutton');
  button.classList.toggle('btn-contrast')
}

function displayMoreImagesForm() {
  var show = document.getElementById('more_images');
  show.classList.toggle('hide_more_images');
}

function displayEvenMoreImagesForm() {
  var show = document.getElementById('even_more_images');
  show.classList.toggle('hide_more_images');
}

function displayEvenEvenMoreImagesForm() {
  var show = document.getElementById('even_even_more_images');
  show.classList.toggle('hide_more_images');
}

function displayEvenEvenEvenMoreImagesForm() {
  var show = document.getElementById('even_even_even_more_images');
  show.classList.toggle('hide_more_images');
}

document.addEventListener("DOMContentLoaded", function(event) { 
  var app = new Vue({
    el: '#app',
    data: {
      reports: [],
      title: '',
      season: '',
      duration: '',
      text: '',
      userId: document.getElementById('currentUserId').value,
    },
      mounted: function() {
        $.get('/api/v1/reports.json', function(result) {
         this.reports = result;
        }.bind(this));
     },
     methods: {
       addCoolReport: function() {
        console.log("hi");
            var params = { title: this.title, season: this.season, duration: this.duration, text: this.text, user_id: this.userId};
           $.post('/api/v1/reports', params, function(result) {
             this.reports.push(result);
           }.bind(this));
         }
     },
  });
});