.complete_index_link {background-color: #8DC153;
                       border-radius: 20px;
                       margin-bottom: 20px;
                       padding: 10px;
                       font-family: 'Oleo Script Swash Caps', cursive;
                       color: white;
                }
.other_destinations {font-family: 'Oregano', cursive;
                    font-size: 20px;}
