.tipComments {border-style: groove;
                border-width: 3px;
                border-radius: 8px;
                border-color: silver;
                padding: 10px;}
.hide {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
