<div class = "well">
<h1>Add your trip notes to our database</h1>
<%= form_tag "/reports/new", method: :post %>
<div>Title:</div>
<input type="text" name = "title">
<div>City:</div>
<input type="text" name = "city">
<div>State:</div>
<input type="text" name = "state">
<div>Country:</div>
<input type="text" name = "country">
<div>City2:</div>
<input type="text" name = "city2">
<div>State2:</div>
<input type="text" name = "state2">
<div>Country2:</div>
<input type="text" name = "country2">
<div>City3:</div>
<input type="text" name = "city3">
<div>State3:</div>
<input type="text" name = "state3">
<div>Country3:</div>
<input type="text" name = "country3">
<div>City4:</div>
<input type="text" name = "city4">
<div>State4:</div>
<input type="text" name = "state4">
<div>Country4:</div>
<input type="text" name = "country4">
<div>City5:</div>
<input type="text" name = "city5">
<div>State5:</div>
<input type="text" name = "state5">
<div>Country5:</div>
<input type="text" name = "country5">
<div>Duration</div>
<input type="text" name = "duration">
<div>Season:</div>
<input type="text" name = "season">
<div>Report:</div>
<textarea name="text" cols="50" rows="10"></textarea>
<div>
<input type = "submit" value = "Submit Post">
</div>